<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<br>
<body>
    <h1><%= message %></h1>
    <br><br>
    <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="imagem de roupa nike">
            <div class="card-body">https://imgnike-a.akamaihd.net/250x250/027193ID.jpg
              <h5 class="card-title">Tech Fleece Hoodie Nike x Nocta</h5>
              <p class="card-text">R$2499,99</p>
              <a href="/produto" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://imgnike-a.akamaihd.net/768x768/027099ID.jpg" class="card-img-top" alt="imagem de tênis Nike Tn">
            <div class="card-body">
              <h5 class="card-title">Tênis Nike Air Max Plus Dark and Grey</h5>
              <p class="card-text">R$1299,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://imgnike-a.akamaihd.net/768x768/02214782.jpg" class="card-img-top" alt="imagem de tênis Nike Tn">
            <div class="card-body">
              <h5 class="card-title">Tênis Nike Air Max Plus Green and Black</h5>
              <p class="card-text">R$1299,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://imgnike-a.akamaihd.net/250x250/024690O6.jpg" class="card-img-top" alt="imagem de roupa Nike">
            <div class="card-body">
              <h5 class="card-title">Camiseta Nike Polo Essential</h5>
              <p class="card-text">R$329,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://imgnike-a.akamaihd.net/250x250/02490151.jpg" class="card-img-top" alt="imagem de roupa Nike">
            <div class="card-body">
              <h5 class="card-title">Blusão Nike Swoosh</h5>
              <p class="card-text">R$999,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://imgnike-a.akamaihd.net/250x250/026803ID.jpg" class="card-img-top" alt="imagem de roupa Nike">
            <div class="card-body">
              <h5 class="card-title">Jaqueta Nike Sportswear Essential Feminina</h5>
              <p class="card-text">R$R$799,99</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br><br>
  <footer>
    CRIADO PARA SER DIFERENTE
 </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>