<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike</title>

  </head>
  
<nav>
  <ul>
        <li><img class="logo" src="https://static.mercadonegro.pe/wp-content/uploads/2020/02/22191017/Sin-uiiug.png" alt="swoosh nike"></li>
        <li>Elas de Nike</li>
        <li>Lançamentos</li>
        <li>Masculino</li>
        <li>Feminino</li>
        <li>Ofertas</li>
        <li>SNKRS</li>
    </ul>
</nav>


<div class="imagemP">
  <img src="principalnike.jpg" alt="imagem nike principal">
</div>


</br>
</br>

  <h3 class="titulo">Nike SNKRS JORDAN TECH</h3>

<main>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/250x250/027193ID.jpg" alt="imagem de roupa Nike x Nocta"></a>
        <h2>Tech Fleece Hoodie Nike x Nocta</h2>
        <p>R$2499,99</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/768x768/027099ID.jpg" alt="imagem de tênis Nike Tn"></a>
        <h2>Tênis Nike Air Max Plus Dark and Grey</h2>
        <p>R$1299,99</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/768x768/02214782.jpg" alt="imagem de tênis Nike Tn"></a>
        <h2>Tênis Nike Air Max Plus Green and Black</h2>
        <p>R$1299,99</p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/250x250/024690O6.jpg" alt="imagem de roupa Nike"></a>
        <h2>Camiseta Nike Polo Essential</h2>
        <p>R$329,99 </p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/250x250/02490151.jpg" alt="imagem de roupa Nike"></a>
        <h2>Blusão Nike Swoosh</h2>
        <p>R$999,99 </p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/250x250/026453ID.jpg" alt="imagem de roupa Nike"></a>
        <h2>Calça Jordan Essentials</h2>
        <p>R$449,99 </p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/250x250/026803ID.jpg" alt="imagem de roupa Nike"></a>
        <h2>Jaqueta Nike Sportswear Essential Feminina</h2>
        <p>R$799,99 </p>
    </div>
    <div class="card">
        <a href="http://localhost:3000/produto"><img src="https://imgnike-a.akamaihd.net/250x250/027217BP.jpg" alt="imagem de tênis Nike"></a>
        <h2>Air Jordan 1 Retro High OG (GS)</h2>
        <p>R$1299,99 </p>
    </div>
  
</main>

<footer>
   CRIADO PARA SER DIFERENTE
</footer>
</body>
</html>