<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Projeto Express e EJS</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="row">
  <div class="col">
    <main>
       <div class="container">
         <br>
    
    <ul class="list-group mb-3">
      <li class="list-group-item py-3">
        <div class="text-center">
          <h3 class="text-align container">DESCRIÇÃO DO PRODUTO | NIKE</h3>
        </div>
      </li>
    </ul>
    <hr>
       </div>
    </main>
  </div>
</div>

<br>
<div class="row">
    <div class="col"></div>
    <div class="col-md-8">
        <div class="container text-center">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://imgnike-a.akamaihd.net/768x768/026942ID.jpg" class="img-fluid rounded-start" alt="500px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fs-3">Jaqueta Nike Windrunner Tech Fleece</h5>
                            <p class="card-text fs-5">Combinando 2 de nossos looks mais icônicos, este moletom com capuz de zíper completo foi inspirado em nossa jaqueta atemporal Windrunner, bem como em nossa jaqueta Tech Fleece. Ele é feito para ter um caimento solto nos ombros, peito e corpo para um ajuste esportivo que você pode usar em camadas. Os bolsos com fita exclusiva proporcionam um armazenamento seguro e fácil acesso. A Jaqueta Nike Windrunner Tech Fleece é perfeita para os dias mais frios, mantendo-o confortável e estiloso em todas as situações.</p>
                            <p class="card-text fs-4"><small class="text-body-secondary">R$749,99</small></p>
                            <button class="btn btn-primary fs-5">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="text-align container d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
  <p>&copy; COPYRIGHT JULIA MISTIERI 3003</p>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
