h1, h2 {
    margin-top: 70px;
    text-decoration-color: black;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}

h1 {
    margin-left: 20px; /* Ajuste a margem conforme necessário */
}

h2 {
    margin-left: 20px; /* Ajuste a margem conforme necessário */
}